<ul class="list-group mt-3 shadow-sm" id="todoList">
    <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between p-3">
        <span>
            <input type="checkbox" class="me-2" [checked]="todo.completed" (change)="checkBoxChanged(todo.id, $event)" />
            <div [ngClass]="{'d-none': editContainerOpened === false}" >
                <input type="text" value="{{todo.task}}" placeholder="Enter value" />
                <button class="updateBtn btn btn-sm btn-primary" (click)="updateTodo( todo.id, $event)">Update</button>
                <button class="cancelBtn btn btn-sm btn-danger" (click)="toggleEditContainer()">Cancel</button>
            </div>
            <span [ngClass]="{'strike': todo.completed , 'd-none': editContainerOpened === true }">{{ todo.task }}</span>
        </span>
        <div>
            <i class="bi bi-pencil-square p-2" (click)="toggleEditContainer()"></i>
            <i class="bi bi-trash p-2" (click)="removeTodo(todo.id)" ></i>
        </div>
    </li>
</ul>